<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
   <link type="text/css" rel="stylesheet" href="/stylesheets/chat.css" />
  </head>
  <body>
    <ul>
      <li id="loginpage">
        <form id="login" action="">
          <input id="username" name="username" autocomplete="off" placeholder="Please enter nickname"/>
          <button>Enter</button>
        </form>
      </li>
      <li id="chatpage" style="display:none">
        <h1>CHATTER</h1>
        <ul id="messages"></ul>
        <form id="usermessage" action="">
          <input id="m" name="message" autocomplete="off" /><button>Send</button>
        </form>
        <h3 id="usertyping"></h3>
      </li>

    </ul>
    <script src='/socket.io/socket.io.js'></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src='/js/messages.js'></script>
  </body>
</html>